<h1>Create Employee</h1>

<%= form_tag "/foods" do %>
  
    <%= label_tag :ingredient %>
    <%= text_field_tag :ingredient %>
  
    <%= label_tag :spice %>
    <%= text_field_tag :spice%>
  
    <%= label_tag :measurement %>
    <%= text_field_tag :measurement%>
  
    <%= submit_tag "Create Recipe" %>
<% end %> 



